body{
    background-image: url(./pexels-simon-berger-1424337.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.capitalize {
    text-transform: capitalize;
}

#five-day{
    padding-left: 11%;
    padding-top: 3%;
}

#five-title{
    padding-bottom: 2%;
}
